@import '../../node_modules/modern-normalize/modern-normalize.css';

body {
    padding-top: 3.5rem;
    padding-bottom: 1rem;
}

a:active,
a:hover,
a {
    text-decoration: none;
    color: #000;
}

.search-form {
    position: fixed;
    transform: translateY(-117%);
    z-index: 1;
    width: 100%;
    height: 3rem;
    background-color: #44718f;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: all 150ms ease-in-out;
}

.search-form:focus-within {
    opacity: 1;
}

.search-form input {
    width: 20rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.33rem;
    outline: none;
    color: #4f585e;
}

.search-form button {
    border-radius: 0.33rem;
    background-image: url('../image/search.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.search-form button:hover {
   background-color: #9dbace;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.photo-card {
    width: calc((100% - 4rem) / 4);
    // max-height: 295px;
    overflow: hidden;
    border-radius: 0.33rem;
    background-color: #c1d9e980;
    transition: all 150ms ease-in-out;
    box-shadow: 3px 3px 5px #44718f;
}

.photo-card:hover {
    transform: scale(1.03);
}

.photo-card img {
    width: 100%;
    height: 19rem;
}

.info {
    display: flex;
    justify-content: space-around;
}

.info-item {
    max-width: 5rem;
    text-align: center;
    // margin-bottom: 0;
}

.load-more {
    display: block;
    margin: 0 auto 0 auto;
    width: 15rem;
    height: 3rem;
    color: #44718f;
    background-color: #c1d9e980;
    font-size: 2rem;
    border-radius: 0.33rem;
    box-shadow: 3px 3px 5px #44718f;
    transition: all 150ms ease-in-out;
    border: none;
    cursor: pointer;
}

.load-more:hover, .load-more:focus {
    transform: scale(1.03);
}

.load-more:active {
    transform: scale(1.03);
    background-color: #44718f;
    color: #c1d9e980;
}

.diplay-none {
    display: none;
}